/* my library> */
.display-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
/* <my library */
/* for global/common tags> */
body{
    background-color: black;
}
main{
    height: 100dvh;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
/* <for global/common tags */
.wrapper{
    position: relative;
    height: 300px;
    overflow-x: hidden;
    padding: 10px;
    background-color: aqua;
    border: 3px solid gold;
}
.wrapper .carousel{
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 10px);
    grid-template-rows:auto;
    column-gap: 15px;
    cursor: pointer;
}
.carousel .card{
    height: 100%;
    background-color: rebeccapurple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.card:nth-child(1){
    background-image: url('../images/abstract-image-1.avif');
}
.card:nth-child(2){
    background-image: url('../images/abstract-image-2.jpg');
}
.card:nth-child(3){
    background-image: url('../images/abstract-image-3.avif');
}
.card:nth-child(4){
    background-image: url('../images/abstract-image-4.jpg');
}
.card:nth-child(5){
    background-image: url('../images/abstract-image-5.jpg');
}
.card:nth-child(6){
    background-image: url('../images/abstract-image-6.jpg');
}
.card:nth-child(7){
    background-image: url('../images/abstract-image-1.avif');
}
.card:nth-child(8){
    background-image: url('../images/abstract-image-2.jpg');
}
.card:nth-child(9){
    background-image: url('../images/abstract-image-3.avif');
}
.card:nth-child(10){
    background-image: url('../images/abstract-image-4.jpg');
}
.card h2{
    font-size: 30px;
    font-weight: 700;
    color: white;
    user-select: none;
}