:root{
    --wrapper-for-padding-padding: 70px;
    --carousel-gap: 15px;
    --buttons-width: 50px;
    --main-dark-color: #343d3d;
    --main-light-color: #f5f5f5;
}

/* my library> */
.display-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
/* <my library */
/* for global/common tags> */
body{
    background-image: linear-gradient(to bottom right, var(--main-dark-color), var(--main-light-color));
}
main{
    position: relative;
    height: 100dvh;
}
.container{
    max-width: 1225px;
    width: 100%;
    margin: 0 auto;
}
/* <for global/common tags */
.wrapper-for-padding{
    position: relative;
    padding: 30px var(--wrapper-for-padding-padding);
    background-color: var(--main-dark-color);
    border: 3px solid var(--main-light-color);
}
.wrapper{
    position: relative;
    height: 300px;
    overflow-x: hidden;
    padding: var(--wrapper-padding);
    background-color: inherit;
    border-radius: 10px;
    cursor: pointer;
}
.wrapper .carousel{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - ((var(--carousel-gap) * 2) / 3));
    grid-template-rows:auto;
    column-gap: var(--carousel-gap);
    cursor: pointer;
}
.carousel .card{
    height: 100%;
    background-color: rebeccapurple;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 2px solid var(--main-light-color);
}
.card:nth-child(1){
    background-image: url('../images/abstract-image-1.avif');
}
.card:nth-child(2){
    background-image: url('../images/abstract-image-2.jpg');
}
.card:nth-child(3){
    background-image: url('../images/abstract-image-3.avif');
}
.card:nth-child(4){
    background-image: url('../images/abstract-image-4.jpg');
}
.card:nth-child(5){
    background-image: url('../images/abstract-image-5.jpg');
}
.card:nth-child(6){
    background-image: url('../images/abstract-image-6.jpg');
}
.card:nth-child(7){
    background-image: url('../images/abstract-image-1.avif');
}
.card:nth-child(8){
    background-image: url('../images/abstract-image-2.jpg');
}
.card:nth-child(9){
    background-image: url('../images/abstract-image-3.avif');
}
.card:nth-child(10){
    background-image: url('../images/abstract-image-4.jpg');
}
.card h2{
    font-size: 30px;
    font-weight: 700;
    color: var(--main-light-color);
    user-select: none;
}
main .buttons-wrapper{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 calc((var(--wrapper-for-padding-padding) - var(--buttons-width)) / 2);
}
.buttons-wrapper button{
    width: var(--buttons-width);
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s linear;
    user-select: none;
}
.buttons-wrapper button:hover{
    box-shadow: 0 0 16px 10px var(--main-dark-color) inset;
    color: var(--main-light-color);
}